.sidebar-container p {
    color: dimgray;
    font-size: 0.7em;
    cursor: pointer;
    padding: 1.2vh;
}

.sidebar-container p:hover {
    color: white;
}

.sidebar-container .active {
    color: white;
}

.icon {
    margin-right: 1vh;
}
