.container {
    /* background-color: #090a0f; */
    width: 100%;
    height: 95vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: radial-gradient(ellipse at bottom, #090925 0%, #090a0f 100%);

    color: #fff;
    padding-left: 10px;
}

.container img {
    margin-top: 1vh;
}

.d-n-d {
    margin: 0;
    color: white;
    cursor: pointer;
}

.d-n-d {
    position: absolute;
    /* top: 50%; */
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
    background: -webkit-linear-gradient(white, #1f2024);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.d-n-d {
    color: white;
}

.dropzone:focus {
    outline: none;
}

.dropzone:hover {
    text-shadow: 1px 1px 1px white;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1822px 976px #fff, 915px 191px #fff, 1233px 144px #fff,
        770px 656px #fff, 1901px 516px #fff, 1271px 1521px #fff,
        1591px 1896px #fff, 879px 1849px #fff, 1747px 597px #fff,
        697px 868px #fff, 957px 106px #fff, 579px 1664px #fff, 582px 1047px #fff,
        1474px 1126px #fff, 1013px 1547px #fff, 1939px 807px #fff,
        1093px 168px #fff, 689px 1539px #fff, 1775px 1559px #fff,
        1067px 623px #fff, 400px 977px #fff, 936px 1325px #fff, 323px 930px #fff,
        735px 727px #fff, 58px 1422px #fff, 623px 655px #fff, 249px 1733px #fff,
        520px 1094px #fff, 1056px 475px #fff, 192px 1231px #fff, 61px 656px #fff,
        1981px 610px #fff, 135px 561px #fff, 220px 933px #fff, 659px 1068px #fff,
        1647px 871px #fff, 1565px 680px #fff, 1720px 1308px #fff,
        1975px 914px #fff, 237px 54px #fff, 275px 1124px #fff, 1846px 966px #fff,
        1451px 1412px #fff, 886px 231px #fff, 682px 670px #fff, 1799px 20px #fff,
        1453px 782px #fff, 1962px 1729px #fff, 1863px 803px #fff,
        1796px 1099px #fff, 317px 1521px #fff, 491px 519px #fff,
        1990px 1789px #fff, 1507px 1262px #fff, 1707px 802px #fff,
        174px 1653px #fff, 653px 756px #fff, 490px 1815px #fff, 191px 988px #fff,
        1952px 1947px #fff, 548px 784px #fff, 869px 982px #fff,
        1263px 1395px #fff, 1734px 1706px #fff, 1082px 314px #fff,
        416px 182px #fff, 1723px 1510px #fff, 1940px 1544px #fff,
        88px 1944px #fff, 1687px 1600px #fff, 594px 1092px #fff,
        161px 825px #fff, 278px 870px #fff, 1372px 1831px #fff, 934px 887px #fff,
        558px 1411px #fff, 311px 284px #fff, 748px 1891px #fff, 406px 731px #fff,
        531px 1123px #fff, 1048px 695px #fff, 1957px 803px #fff,
        1332px 1342px #fff, 447px 653px #fff, 947px 913px #fff, 28px 294px #fff,
        347px 952px #fff, 834px 892px #fff, 535px 1908px #fff,
        1044px 1136px #fff, 1987px 448px #fff, 1534px 657px #fff,
        698px 1806px #fff, 1476px 517px #fff, 1023px 984px #fff,
        981px 640px #fff, 1952px 1057px #fff, 1131px 1509px #fff,
        436px 1007px #fff, 1550px 1743px #fff, 655px 74px #fff,
        807px 1668px #fff, 814px 388px #fff, 1605px 462px #fff,
        953px 1773px #fff, 114px 1835px #fff, 1250px 21px #fff,
        1182px 1567px #fff, 702px 659px #fff, 1804px 1218px #fff,
        231px 249px #fff, 327px 141px #fff, 1908px 388px #fff, 937px 997px #fff,
        1155px 392px #fff, 45px 680px #fff, 211px 853px #fff, 335px 1489px #fff,
        1685px 597px #fff, 773px 35px #fff, 588px 1491px #fff, 145px 1047px #fff,
        1175px 425px #fff, 1355px 1049px #fff, 939px 1538px #fff,
        617px 1934px #fff, 1869px 982px #fff, 333px 1098px #fff, 929px 35px #fff,
        1047px 1089px #fff, 464px 557px #fff, 844px 978px #fff, 513px 220px #fff,
        1936px 1519px #fff, 1321px 346px #fff, 1905px 495px #fff,
        317px 822px #fff, 1291px 1390px #fff, 497px 1888px #fff,
        1369px 1006px #fff, 681px 1146px #fff, 477px 228px #fff,
        1250px 261px #fff, 911px 1274px #fff, 1978px 1359px #fff,
        1788px 448px #fff, 66px 1412px #fff, 56px 1674px #fff, 1837px 219px #fff,
        715px 1117px #fff, 1990px 971px #fff, 1898px 723px #fff,
        891px 1255px #fff, 1805px 1690px #fff, 50px 870px #fff,
        1267px 1770px #fff, 1585px 1721px #fff, 845px 1351px #fff,
        49px 1575px #fff, 222px 787px #fff, 1691px 150px #fff,
        1286px 1815px #fff, 254px 1773px #fff, 1156px 429px #fff,
        564px 1902px #fff, 1475px 1765px #fff, 1468px 1331px #fff,
        1901px 1138px #fff, 1135px 1194px #fff, 577px 3px #fff, 1659px 58px #fff,
        1895px 64px #fff, 1040px 1508px #fff, 1829px 1913px #fff,
        908px 672px #fff, 1097px 1612px #fff, 1139px 1078px #fff,
        1369px 1281px #fff, 798px 1259px #fff, 667px 394px #fff,
        280px 1911px #fff, 1138px 1372px #fff, 408px 3px #fff,
        1694px 1739px #fff, 107px 515px #fff, 545px 559px #fff,
        646px 1278px #fff, 1724px 542px #fff, 1708px 723px #fff,
        388px 532px #fff, 672px 1203px #fff, 908px 1125px #fff,
        214px 1359px #fff, 750px 316px #fff, 1734px 1186px #fff,
        1415px 1094px #fff, 885px 1145px #fff, 1902px 2000px #fff,
        120px 1017px #fff, 1353px 1955px #fff, 31px 389px #fff, 610px 162px #fff,
        819px 1067px #fff, 1185px 1260px #fff, 836px 511px #fff,
        420px 160px #fff, 1714px 1878px #fff, 420px 613px #fff,
        325px 1230px #fff, 1198px 1235px #fff, 762px 757px #fff,
        1666px 687px #fff, 97px 778px #fff, 845px 1938px #fff, 1850px 930px #fff,
        1804px 1653px #fff, 329px 23px #fff, 483px 1808px #fff,
        1974px 942px #fff, 168px 1993px #fff, 489px 1700px #fff,
        1918px 1590px #fff, 1885px 1642px #fff, 1164px 1525px #fff,
        1799px 1208px #fff, 237px 211px #fff, 474px 1158px #fff,
        1813px 273px #fff, 149px 1632px #fff, 1063px 337px #fff,
        41px 1431px #fff, 1955px 1967px #fff, 914px 1312px #fff,
        1353px 805px #fff, 1278px 1615px #fff, 1720px 637px #fff,
        1958px 136px #fff, 1027px 1601px #fff, 1103px 648px #fff,
        1956px 1241px #fff, 136px 1290px #fff, 1190px 209px #fff,
        595px 1167px #fff, 1326px 946px #fff, 507px 1682px #fff,
        1332px 1931px #fff, 1595px 1266px #fff, 559px 395px #fff,
        645px 1072px #fff, 1622px 859px #fff, 271px 799px #fff,
        1884px 1055px #fff, 682px 1258px #fff, 401px 1757px #fff,
        1169px 732px #fff, 288px 601px #fff, 571px 89px #fff, 1460px 22px #fff,
        302px 1550px #fff, 1361px 97px #fff, 939px 1829px #fff, 398px 227px #fff,
        1975px 142px #fff, 1973px 1695px #fff, 1956px 628px #fff,
        315px 1672px #fff, 1827px 1362px #fff, 335px 858px #fff,
        1574px 1165px #fff, 856px 632px #fff, 1902px 1180px #fff,
        473px 563px #fff, 936px 1169px #fff, 1912px 712px #fff, 933px 421px #fff,
        1073px 1893px #fff, 1815px 703px #fff, 1685px 573px #fff,
        1578px 1654px #fff, 1201px 1082px #fff, 1936px 1536px #fff,
        1017px 782px #fff, 439px 569px #fff, 704px 1281px #fff,
        1964px 1425px #fff, 1439px 1065px #fff, 1175px 39px #fff,
        1192px 1749px #fff, 441px 704px #fff, 716px 862px #fff,
        1464px 1027px #fff, 1571px 1470px #fff, 40px 1861px #fff,
        1039px 649px #fff, 888px 915px #fff, 404px 1625px #fff,
        1817px 478px #fff, 177px 654px #fff, 1890px 644px #fff,
        1028px 353px #fff, 484px 995px #fff, 1654px 725px #fff, 889px 518px #fff,
        693px 1529px #fff, 1239px 1443px #fff, 1099px 1316px #fff,
        1482px 1683px #fff, 810px 1792px #fff, 648px 731px #fff,
        515px 1361px #fff, 909px 145px #fff, 908px 1110px #fff, 343px 506px #fff,
        219px 1122px #fff, 286px 1926px #fff, 569px 1187px #fff,
        1236px 1548px #fff, 1890px 1866px #fff, 480px 1506px #fff,
        87px 630px #fff, 1579px 1819px #fff, 1293px 576px #fff,
        868px 1442px #fff, 507px 1764px #fff, 344px 1374px #fff,
        675px 1631px #fff, 1849px 446px #fff, 943px 1281px #fff, 62px 761px #fff,
        238px 752px #fff, 620px 1469px #fff, 1230px 1108px #fff, 911px 28px #fff,
        1069px 226px #fff, 607px 702px #fff, 157px 1416px #fff,
        1366px 1203px #fff, 800px 618px #fff, 205px 1581px #fff,
        1964px 1521px #fff, 1792px 537px #fff, 1724px 1891px #fff,
        1177px 1210px #fff, 836px 588px #fff, 1771px 562px #fff,
        1200px 186px #fff, 1470px 1457px #fff, 15px 1680px #fff,
        1028px 368px #fff, 1540px 579px #fff, 96px 1007px #fff,
        1791px 1446px #fff, 1455px 1656px #fff, 1509px 1545px #fff,
        245px 1395px #fff, 1070px 1885px #fff, 904px 1786px #fff,
        1808px 1719px #fff, 536px 40px #fff, 1006px 1030px #fff,
        1754px 1786px #fff, 1884px 1485px #fff, 441px 742px #fff,
        379px 1439px #fff, 638px 1101px #fff, 1688px 1903px #fff,
        187px 584px #fff, 589px 1404px #fff, 1015px 1207px #fff,
        1530px 1222px #fff, 833px 1678px #fff, 1516px 1531px #fff,
        905px 49px #fff, 1830px 1707px #fff, 1125px 252px #fff,
        1067px 1366px #fff, 887px 889px #fff, 1536px 1849px #fff,
        1937px 29px #fff, 1997px 900px #fff, 279px 848px #fff, 1202px 397px #fff,
        320px 836px #fff, 1407px 114px #fff, 249px 859px #fff, 1222px 760px #fff,
        437px 601px #fff, 36px 1289px #fff, 1574px 215px #fff, 504px 1011px #fff,
        1852px 580px #fff, 1087px 1264px #fff, 823px 934px #fff,
        1576px 751px #fff, 1021px 535px #fff, 1959px 825px #fff, 698px 97px #fff,
        896px 1591px #fff, 582px 1249px #fff, 1375px 1636px #fff, 9px 897px #fff,
        1012px 654px #fff, 1230px 1566px #fff, 1310px 1314px #fff,
        1562px 1442px #fff, 1628px 110px #fff, 176px 1543px #fff,
        1815px 1013px #fff, 97px 1642px #fff, 1344px 495px #fff,
        838px 941px #fff, 843px 553px #fff, 131px 828px #fff, 1684px 1847px #fff,
        1352px 1279px #fff, 598px 828px #fff, 570px 51px #fff,
        1062px 1748px #fff, 1106px 1071px #fff, 889px 1209px #fff,
        1369px 437px #fff, 1051px 94px #fff, 1075px 210px #fff,
        1857px 527px #fff, 1679px 590px #fff, 1327px 1683px #fff,
        1056px 390px #fff, 1681px 1623px #fff, 1180px 571px #fff,
        1522px 1699px #fff, 701px 390px #fff, 1180px 495px #fff,
        446px 1823px #fff, 658px 1682px #fff, 1359px 1225px #fff,
        772px 878px #fff, 565px 832px #fff, 841px 1496px #fff, 1144px 418px #fff,
        1403px 1179px #fff, 1017px 840px #fff, 417px 682px #fff,
        1916px 850px #fff, 378px 703px #fff, 1433px 1389px #fff, 35px 418px #fff,
        70px 1389px #fff, 1718px 1903px #fff, 302px 1329px #fff,
        1465px 1227px #fff, 1412px 346px #fff, 1543px 1967px #fff,
        120px 86px #fff, 1525px 616px #fff, 597px 1624px #fff, 799px 1418px #fff,
        1590px 1259px #fff, 1649px 377px #fff, 1681px 307px #fff,
        1663px 269px #fff, 15px 43px #fff, 165px 1609px #fff, 105px 536px #fff,
        900px 821px #fff, 1295px 1293px #fff, 486px 473px #fff,
        1141px 1694px #fff, 687px 1374px #fff, 577px 1415px #fff,
        1725px 1125px #fff, 1110px 1873px #fff, 1203px 1390px #fff,
        1494px 1277px #fff, 272px 45px #fff, 418px 1714px #fff,
        1020px 162px #fff, 404px 1968px #fff, 217px 1931px #fff, 49px 874px #fff,
        538px 215px #fff, 1446px 228px #fff, 570px 1743px #fff, 671px 402px #fff,
        960px 972px #fff, 58px 1711px #fff, 463px 939px #fff, 1180px 598px #fff,
        1384px 407px #fff, 690px 183px #fff, 917px 432px #fff, 653px 1051px #fff,
        1524px 176px #fff, 714px 726px #fff, 1346px 1868px #fff,
        1108px 368px #fff, 1891px 530px #fff, 1815px 727px #fff,
        1069px 1908px #fff, 1269px 1686px #fff, 1555px 260px #fff,
        876px 1815px #fff, 1117px 1340px #fff, 785px 1612px #fff,
        1757px 926px #fff, 94px 465px #fff, 702px 1489px #fff, 1830px 709px #fff,
        1640px 1329px #fff, 1985px 1215px #fff, 1011px 1681px #fff,
        1017px 14px #fff, 1668px 129px #fff, 48px 1953px #fff, 353px 67px #fff,
        1722px 557px #fff, 831px 1981px #fff, 1447px 1688px #fff,
        1006px 802px #fff, 1984px 1325px #fff, 464px 577px #fff,
        769px 1593px #fff, 127px 1188px #fff, 1841px 1783px #fff,
        121px 433px #fff, 1530px 1946px #fff, 165px 789px #fff,
        1965px 1719px #fff, 375px 1106px #fff, 19px 1177px #fff,
        1358px 1549px #fff, 1990px 508px #fff, 201px 1697px #fff,
        1293px 902px #fff, 1843px 920px #fff, 1725px 980px #fff,
        311px 1172px #fff, 170px 1301px #fff, 1533px 1212px #fff,
        123px 1562px #fff, 904px 1187px #fff, 1487px 1879px #fff,
        1909px 577px #fff, 634px 784px #fff, 188px 921px #fff, 1861px 626px #fff,
        1688px 1718px #fff, 956px 808px #fff, 287px 993px #fff,
        506px 1813px #fff, 1570px 477px #fff, 1332px 438px #fff,
        1054px 773px #fff, 1485px 748px #fff, 1799px 1093px #fff,
        165px 588px #fff, 1517px 609px #fff, 1543px 111px #fff, 852px 260px #fff,
        842px 436px #fff, 1196px 380px #fff, 975px 1008px #fff,
        1685px 367px #fff, 265px 1316px #fff, 1667px 987px #fff,
        1809px 431px #fff, 1519px 1655px #fff, 434px 848px #fff,
        1249px 1095px #fff, 403px 679px #fff, 259px 927px #fff,
        701px 1468px #fff, 1670px 1517px #fff, 1510px 1078px #fff,
        366px 1794px #fff, 124px 1349px #fff, 1997px 1424px #fff,
        1172px 1832px #fff, 1003px 1170px #fff, 842px 1990px #fff,
        1356px 301px #fff, 134px 17px #fff, 568px 1847px #fff, 269px 555px #fff,
        678px 268px #fff, 1113px 1172px #fff, 1405px 1157px #fff,
        839px 824px #fff, 1833px 1654px #fff, 1222px 1165px #fff,
        983px 1305px #fff, 371px 1188px #fff, 332px 309px #fff, 847px 63px #fff,
        1905px 1924px #fff, 1624px 372px #fff, 525px 1964px #fff,
        494px 801px #fff, 1318px 1839px #fff, 367px 1626px #fff,
        867px 1692px #fff, 787px 1552px #fff, 70px 1233px #fff,
        1779px 602px #fff, 1161px 932px #fff, 1535px 874px #fff,
        644px 1455px #fff, 1187px 1787px #fff, 1424px 1745px #fff,
        253px 1259px #fff, 799px 139px #fff, 1842px 1234px #fff,
        1719px 179px #fff, 672px 1841px #fff, 1856px 41px #fff, 351px 314px #fff,
        65px 1143px #fff, 229px 869px #fff, 115px 1355px #fff,
        1437px 1307px #fff, 1014px 976px #fff, 1459px 461px #fff,
        745px 1649px #fff, 1180px 1781px #fff, 1830px 73px #fff,
        1086px 1623px #fff, 398px 64px #fff, 433px 51px #fff, 275px 1686px #fff,
        1889px 433px #fff, 656px 502px #fff, 1639px 515px #fff,
        1340px 461px #fff, 1507px 1074px #fff, 1913px 421px #fff,
        1339px 1187px #fff, 695px 252px #fff, 971px 994px #fff,
        1473px 325px #fff, 1038px 1257px #fff, 1378px 256px #fff,
        636px 507px #fff, 1492px 833px #fff, 304px 464px #fff, 1088px 998px #fff,
        993px 1251px #fff, 1486px 409px #fff, 720px 939px #fff, 187px 330px #fff,
        898px 1327px #fff, 1336px 1509px #fff, 1943px 895px #fff,
        655px 1230px #fff, 928px 1077px #fff, 1145px 1460px #fff,
        736px 426px #fff, 553px 443px #fff, 1749px 858px #fff, 543px 1527px #fff,
        1461px 1910px #fff, 1073px 1885px #fff, 126px 791px #fff,
        576px 1958px #fff, 1860px 1313px #fff, 672px 91px #fff,
        472px 1048px #fff, 1297px 1364px #fff, 585px 611px #fff,
        1067px 540px #fff, 97px 1390px #fff, 1791px 1786px #fff,
        1473px 376px #fff, 1005px 90px #fff, 407px 398px #fff,
        1842px 1997px #fff, 861px 745px #fff, 1717px 65px #fff,
        453px 1801px #fff, 1596px 1381px #fff, 381px 1433px #fff,
        647px 688px #fff, 638px 989px #fff, 436px 727px #fff, 1328px 1527px #fff,
        1502px 1983px #fff, 988px 1710px #fff, 1361px 267px #fff,
        98px 343px #fff, 1418px 1694px #fff, 907px 1746px #fff, 892px 91px #fff,
        1710px 854px #fff, 29px 1972px #fff, 579px 342px #fff, 995px 10px #fff,
        1410px 900px #fff, 869px 808px #fff, 1496px 1290px #fff, 951px 84px #fff,
        1450px 569px #fff, 119px 1114px #fff;
    animation: animStar 50s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1822px 976px #fff, 915px 191px #fff, 1233px 144px #fff,
        770px 656px #fff, 1901px 516px #fff, 1271px 1521px #fff,
        1591px 1896px #fff, 879px 1849px #fff, 1747px 597px #fff,
        697px 868px #fff, 957px 106px #fff, 579px 1664px #fff, 582px 1047px #fff,
        1474px 1126px #fff, 1013px 1547px #fff, 1939px 807px #fff,
        1093px 168px #fff, 689px 1539px #fff, 1775px 1559px #fff,
        1067px 623px #fff, 400px 977px #fff, 936px 1325px #fff, 323px 930px #fff,
        735px 727px #fff, 58px 1422px #fff, 623px 655px #fff, 249px 1733px #fff,
        520px 1094px #fff, 1056px 475px #fff, 192px 1231px #fff, 61px 656px #fff,
        1981px 610px #fff, 135px 561px #fff, 220px 933px #fff, 659px 1068px #fff,
        1647px 871px #fff, 1565px 680px #fff, 1720px 1308px #fff,
        1975px 914px #fff, 237px 54px #fff, 275px 1124px #fff, 1846px 966px #fff,
        1451px 1412px #fff, 886px 231px #fff, 682px 670px #fff, 1799px 20px #fff,
        1453px 782px #fff, 1962px 1729px #fff, 1863px 803px #fff,
        1796px 1099px #fff, 317px 1521px #fff, 491px 519px #fff,
        1990px 1789px #fff, 1507px 1262px #fff, 1707px 802px #fff,
        174px 1653px #fff, 653px 756px #fff, 490px 1815px #fff, 191px 988px #fff,
        1952px 1947px #fff, 548px 784px #fff, 869px 982px #fff,
        1263px 1395px #fff, 1734px 1706px #fff, 1082px 314px #fff,
        416px 182px #fff, 1723px 1510px #fff, 1940px 1544px #fff,
        88px 1944px #fff, 1687px 1600px #fff, 594px 1092px #fff,
        161px 825px #fff, 278px 870px #fff, 1372px 1831px #fff, 934px 887px #fff,
        558px 1411px #fff, 311px 284px #fff, 748px 1891px #fff, 406px 731px #fff,
        531px 1123px #fff, 1048px 695px #fff, 1957px 803px #fff,
        1332px 1342px #fff, 447px 653px #fff, 947px 913px #fff, 28px 294px #fff,
        347px 952px #fff, 834px 892px #fff, 535px 1908px #fff,
        1044px 1136px #fff, 1987px 448px #fff, 1534px 657px #fff,
        698px 1806px #fff, 1476px 517px #fff, 1023px 984px #fff,
        981px 640px #fff, 1952px 1057px #fff, 1131px 1509px #fff,
        436px 1007px #fff, 1550px 1743px #fff, 655px 74px #fff,
        807px 1668px #fff, 814px 388px #fff, 1605px 462px #fff,
        953px 1773px #fff, 114px 1835px #fff, 1250px 21px #fff,
        1182px 1567px #fff, 702px 659px #fff, 1804px 1218px #fff,
        231px 249px #fff, 327px 141px #fff, 1908px 388px #fff, 937px 997px #fff,
        1155px 392px #fff, 45px 680px #fff, 211px 853px #fff, 335px 1489px #fff,
        1685px 597px #fff, 773px 35px #fff, 588px 1491px #fff, 145px 1047px #fff,
        1175px 425px #fff, 1355px 1049px #fff, 939px 1538px #fff,
        617px 1934px #fff, 1869px 982px #fff, 333px 1098px #fff, 929px 35px #fff,
        1047px 1089px #fff, 464px 557px #fff, 844px 978px #fff, 513px 220px #fff,
        1936px 1519px #fff, 1321px 346px #fff, 1905px 495px #fff,
        317px 822px #fff, 1291px 1390px #fff, 497px 1888px #fff,
        1369px 1006px #fff, 681px 1146px #fff, 477px 228px #fff,
        1250px 261px #fff, 911px 1274px #fff, 1978px 1359px #fff,
        1788px 448px #fff, 66px 1412px #fff, 56px 1674px #fff, 1837px 219px #fff,
        715px 1117px #fff, 1990px 971px #fff, 1898px 723px #fff,
        891px 1255px #fff, 1805px 1690px #fff, 50px 870px #fff,
        1267px 1770px #fff, 1585px 1721px #fff, 845px 1351px #fff,
        49px 1575px #fff, 222px 787px #fff, 1691px 150px #fff,
        1286px 1815px #fff, 254px 1773px #fff, 1156px 429px #fff,
        564px 1902px #fff, 1475px 1765px #fff, 1468px 1331px #fff,
        1901px 1138px #fff, 1135px 1194px #fff, 577px 3px #fff, 1659px 58px #fff,
        1895px 64px #fff, 1040px 1508px #fff, 1829px 1913px #fff,
        908px 672px #fff, 1097px 1612px #fff, 1139px 1078px #fff,
        1369px 1281px #fff, 798px 1259px #fff, 667px 394px #fff,
        280px 1911px #fff, 1138px 1372px #fff, 408px 3px #fff,
        1694px 1739px #fff, 107px 515px #fff, 545px 559px #fff,
        646px 1278px #fff, 1724px 542px #fff, 1708px 723px #fff,
        388px 532px #fff, 672px 1203px #fff, 908px 1125px #fff,
        214px 1359px #fff, 750px 316px #fff, 1734px 1186px #fff,
        1415px 1094px #fff, 885px 1145px #fff, 1902px 2000px #fff,
        120px 1017px #fff, 1353px 1955px #fff, 31px 389px #fff, 610px 162px #fff,
        819px 1067px #fff, 1185px 1260px #fff, 836px 511px #fff,
        420px 160px #fff, 1714px 1878px #fff, 420px 613px #fff,
        325px 1230px #fff, 1198px 1235px #fff, 762px 757px #fff,
        1666px 687px #fff, 97px 778px #fff, 845px 1938px #fff, 1850px 930px #fff,
        1804px 1653px #fff, 329px 23px #fff, 483px 1808px #fff,
        1974px 942px #fff, 168px 1993px #fff, 489px 1700px #fff,
        1918px 1590px #fff, 1885px 1642px #fff, 1164px 1525px #fff,
        1799px 1208px #fff, 237px 211px #fff, 474px 1158px #fff,
        1813px 273px #fff, 149px 1632px #fff, 1063px 337px #fff,
        41px 1431px #fff, 1955px 1967px #fff, 914px 1312px #fff,
        1353px 805px #fff, 1278px 1615px #fff, 1720px 637px #fff,
        1958px 136px #fff, 1027px 1601px #fff, 1103px 648px #fff,
        1956px 1241px #fff, 136px 1290px #fff, 1190px 209px #fff,
        595px 1167px #fff, 1326px 946px #fff, 507px 1682px #fff,
        1332px 1931px #fff, 1595px 1266px #fff, 559px 395px #fff,
        645px 1072px #fff, 1622px 859px #fff, 271px 799px #fff,
        1884px 1055px #fff, 682px 1258px #fff, 401px 1757px #fff,
        1169px 732px #fff, 288px 601px #fff, 571px 89px #fff, 1460px 22px #fff,
        302px 1550px #fff, 1361px 97px #fff, 939px 1829px #fff, 398px 227px #fff,
        1975px 142px #fff, 1973px 1695px #fff, 1956px 628px #fff,
        315px 1672px #fff, 1827px 1362px #fff, 335px 858px #fff,
        1574px 1165px #fff, 856px 632px #fff, 1902px 1180px #fff,
        473px 563px #fff, 936px 1169px #fff, 1912px 712px #fff, 933px 421px #fff,
        1073px 1893px #fff, 1815px 703px #fff, 1685px 573px #fff,
        1578px 1654px #fff, 1201px 1082px #fff, 1936px 1536px #fff,
        1017px 782px #fff, 439px 569px #fff, 704px 1281px #fff,
        1964px 1425px #fff, 1439px 1065px #fff, 1175px 39px #fff,
        1192px 1749px #fff, 441px 704px #fff, 716px 862px #fff,
        1464px 1027px #fff, 1571px 1470px #fff, 40px 1861px #fff,
        1039px 649px #fff, 888px 915px #fff, 404px 1625px #fff,
        1817px 478px #fff, 177px 654px #fff, 1890px 644px #fff,
        1028px 353px #fff, 484px 995px #fff, 1654px 725px #fff, 889px 518px #fff,
        693px 1529px #fff, 1239px 1443px #fff, 1099px 1316px #fff,
        1482px 1683px #fff, 810px 1792px #fff, 648px 731px #fff,
        515px 1361px #fff, 909px 145px #fff, 908px 1110px #fff, 343px 506px #fff,
        219px 1122px #fff, 286px 1926px #fff, 569px 1187px #fff,
        1236px 1548px #fff, 1890px 1866px #fff, 480px 1506px #fff,
        87px 630px #fff, 1579px 1819px #fff, 1293px 576px #fff,
        868px 1442px #fff, 507px 1764px #fff, 344px 1374px #fff,
        675px 1631px #fff, 1849px 446px #fff, 943px 1281px #fff, 62px 761px #fff,
        238px 752px #fff, 620px 1469px #fff, 1230px 1108px #fff, 911px 28px #fff,
        1069px 226px #fff, 607px 702px #fff, 157px 1416px #fff,
        1366px 1203px #fff, 800px 618px #fff, 205px 1581px #fff,
        1964px 1521px #fff, 1792px 537px #fff, 1724px 1891px #fff,
        1177px 1210px #fff, 836px 588px #fff, 1771px 562px #fff,
        1200px 186px #fff, 1470px 1457px #fff, 15px 1680px #fff,
        1028px 368px #fff, 1540px 579px #fff, 96px 1007px #fff,
        1791px 1446px #fff, 1455px 1656px #fff, 1509px 1545px #fff,
        245px 1395px #fff, 1070px 1885px #fff, 904px 1786px #fff,
        1808px 1719px #fff, 536px 40px #fff, 1006px 1030px #fff,
        1754px 1786px #fff, 1884px 1485px #fff, 441px 742px #fff,
        379px 1439px #fff, 638px 1101px #fff, 1688px 1903px #fff,
        187px 584px #fff, 589px 1404px #fff, 1015px 1207px #fff,
        1530px 1222px #fff, 833px 1678px #fff, 1516px 1531px #fff,
        905px 49px #fff, 1830px 1707px #fff, 1125px 252px #fff,
        1067px 1366px #fff, 887px 889px #fff, 1536px 1849px #fff,
        1937px 29px #fff, 1997px 900px #fff, 279px 848px #fff, 1202px 397px #fff,
        320px 836px #fff, 1407px 114px #fff, 249px 859px #fff, 1222px 760px #fff,
        437px 601px #fff, 36px 1289px #fff, 1574px 215px #fff, 504px 1011px #fff,
        1852px 580px #fff, 1087px 1264px #fff, 823px 934px #fff,
        1576px 751px #fff, 1021px 535px #fff, 1959px 825px #fff, 698px 97px #fff,
        896px 1591px #fff, 582px 1249px #fff, 1375px 1636px #fff, 9px 897px #fff,
        1012px 654px #fff, 1230px 1566px #fff, 1310px 1314px #fff,
        1562px 1442px #fff, 1628px 110px #fff, 176px 1543px #fff,
        1815px 1013px #fff, 97px 1642px #fff, 1344px 495px #fff,
        838px 941px #fff, 843px 553px #fff, 131px 828px #fff, 1684px 1847px #fff,
        1352px 1279px #fff, 598px 828px #fff, 570px 51px #fff,
        1062px 1748px #fff, 1106px 1071px #fff, 889px 1209px #fff,
        1369px 437px #fff, 1051px 94px #fff, 1075px 210px #fff,
        1857px 527px #fff, 1679px 590px #fff, 1327px 1683px #fff,
        1056px 390px #fff, 1681px 1623px #fff, 1180px 571px #fff,
        1522px 1699px #fff, 701px 390px #fff, 1180px 495px #fff,
        446px 1823px #fff, 658px 1682px #fff, 1359px 1225px #fff,
        772px 878px #fff, 565px 832px #fff, 841px 1496px #fff, 1144px 418px #fff,
        1403px 1179px #fff, 1017px 840px #fff, 417px 682px #fff,
        1916px 850px #fff, 378px 703px #fff, 1433px 1389px #fff, 35px 418px #fff,
        70px 1389px #fff, 1718px 1903px #fff, 302px 1329px #fff,
        1465px 1227px #fff, 1412px 346px #fff, 1543px 1967px #fff,
        120px 86px #fff, 1525px 616px #fff, 597px 1624px #fff, 799px 1418px #fff,
        1590px 1259px #fff, 1649px 377px #fff, 1681px 307px #fff,
        1663px 269px #fff, 15px 43px #fff, 165px 1609px #fff, 105px 536px #fff,
        900px 821px #fff, 1295px 1293px #fff, 486px 473px #fff,
        1141px 1694px #fff, 687px 1374px #fff, 577px 1415px #fff,
        1725px 1125px #fff, 1110px 1873px #fff, 1203px 1390px #fff,
        1494px 1277px #fff, 272px 45px #fff, 418px 1714px #fff,
        1020px 162px #fff, 404px 1968px #fff, 217px 1931px #fff, 49px 874px #fff,
        538px 215px #fff, 1446px 228px #fff, 570px 1743px #fff, 671px 402px #fff,
        960px 972px #fff, 58px 1711px #fff, 463px 939px #fff, 1180px 598px #fff,
        1384px 407px #fff, 690px 183px #fff, 917px 432px #fff, 653px 1051px #fff,
        1524px 176px #fff, 714px 726px #fff, 1346px 1868px #fff,
        1108px 368px #fff, 1891px 530px #fff, 1815px 727px #fff,
        1069px 1908px #fff, 1269px 1686px #fff, 1555px 260px #fff,
        876px 1815px #fff, 1117px 1340px #fff, 785px 1612px #fff,
        1757px 926px #fff, 94px 465px #fff, 702px 1489px #fff, 1830px 709px #fff,
        1640px 1329px #fff, 1985px 1215px #fff, 1011px 1681px #fff,
        1017px 14px #fff, 1668px 129px #fff, 48px 1953px #fff, 353px 67px #fff,
        1722px 557px #fff, 831px 1981px #fff, 1447px 1688px #fff,
        1006px 802px #fff, 1984px 1325px #fff, 464px 577px #fff,
        769px 1593px #fff, 127px 1188px #fff, 1841px 1783px #fff,
        121px 433px #fff, 1530px 1946px #fff, 165px 789px #fff,
        1965px 1719px #fff, 375px 1106px #fff, 19px 1177px #fff,
        1358px 1549px #fff, 1990px 508px #fff, 201px 1697px #fff,
        1293px 902px #fff, 1843px 920px #fff, 1725px 980px #fff,
        311px 1172px #fff, 170px 1301px #fff, 1533px 1212px #fff,
        123px 1562px #fff, 904px 1187px #fff, 1487px 1879px #fff,
        1909px 577px #fff, 634px 784px #fff, 188px 921px #fff, 1861px 626px #fff,
        1688px 1718px #fff, 956px 808px #fff, 287px 993px #fff,
        506px 1813px #fff, 1570px 477px #fff, 1332px 438px #fff,
        1054px 773px #fff, 1485px 748px #fff, 1799px 1093px #fff,
        165px 588px #fff, 1517px 609px #fff, 1543px 111px #fff, 852px 260px #fff,
        842px 436px #fff, 1196px 380px #fff, 975px 1008px #fff,
        1685px 367px #fff, 265px 1316px #fff, 1667px 987px #fff,
        1809px 431px #fff, 1519px 1655px #fff, 434px 848px #fff,
        1249px 1095px #fff, 403px 679px #fff, 259px 927px #fff,
        701px 1468px #fff, 1670px 1517px #fff, 1510px 1078px #fff,
        366px 1794px #fff, 124px 1349px #fff, 1997px 1424px #fff,
        1172px 1832px #fff, 1003px 1170px #fff, 842px 1990px #fff,
        1356px 301px #fff, 134px 17px #fff, 568px 1847px #fff, 269px 555px #fff,
        678px 268px #fff, 1113px 1172px #fff, 1405px 1157px #fff,
        839px 824px #fff, 1833px 1654px #fff, 1222px 1165px #fff,
        983px 1305px #fff, 371px 1188px #fff, 332px 309px #fff, 847px 63px #fff,
        1905px 1924px #fff, 1624px 372px #fff, 525px 1964px #fff,
        494px 801px #fff, 1318px 1839px #fff, 367px 1626px #fff,
        867px 1692px #fff, 787px 1552px #fff, 70px 1233px #fff,
        1779px 602px #fff, 1161px 932px #fff, 1535px 874px #fff,
        644px 1455px #fff, 1187px 1787px #fff, 1424px 1745px #fff,
        253px 1259px #fff, 799px 139px #fff, 1842px 1234px #fff,
        1719px 179px #fff, 672px 1841px #fff, 1856px 41px #fff, 351px 314px #fff,
        65px 1143px #fff, 229px 869px #fff, 115px 1355px #fff,
        1437px 1307px #fff, 1014px 976px #fff, 1459px 461px #fff,
        745px 1649px #fff, 1180px 1781px #fff, 1830px 73px #fff,
        1086px 1623px #fff, 398px 64px #fff, 433px 51px #fff, 275px 1686px #fff,
        1889px 433px #fff, 656px 502px #fff, 1639px 515px #fff,
        1340px 461px #fff, 1507px 1074px #fff, 1913px 421px #fff,
        1339px 1187px #fff, 695px 252px #fff, 971px 994px #fff,
        1473px 325px #fff, 1038px 1257px #fff, 1378px 256px #fff,
        636px 507px #fff, 1492px 833px #fff, 304px 464px #fff, 1088px 998px #fff,
        993px 1251px #fff, 1486px 409px #fff, 720px 939px #fff, 187px 330px #fff,
        898px 1327px #fff, 1336px 1509px #fff, 1943px 895px #fff,
        655px 1230px #fff, 928px 1077px #fff, 1145px 1460px #fff,
        736px 426px #fff, 553px 443px #fff, 1749px 858px #fff, 543px 1527px #fff,
        1461px 1910px #fff, 1073px 1885px #fff, 126px 791px #fff,
        576px 1958px #fff, 1860px 1313px #fff, 672px 91px #fff,
        472px 1048px #fff, 1297px 1364px #fff, 585px 611px #fff,
        1067px 540px #fff, 97px 1390px #fff, 1791px 1786px #fff,
        1473px 376px #fff, 1005px 90px #fff, 407px 398px #fff,
        1842px 1997px #fff, 861px 745px #fff, 1717px 65px #fff,
        453px 1801px #fff, 1596px 1381px #fff, 381px 1433px #fff,
        647px 688px #fff, 638px 989px #fff, 436px 727px #fff, 1328px 1527px #fff,
        1502px 1983px #fff, 988px 1710px #fff, 1361px 267px #fff,
        98px 343px #fff, 1418px 1694px #fff, 907px 1746px #fff, 892px 91px #fff,
        1710px 854px #fff, 29px 1972px #fff, 579px 342px #fff, 995px 10px #fff,
        1410px 900px #fff, 869px 808px #fff, 1496px 1290px #fff, 951px 84px #fff,
        1450px 569px #fff, 119px 1114px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1064px 384px #fff, 770px 77px #fff, 1704px 1989px #fff,
        1660px 1786px #fff, 984px 1744px #fff, 866px 94px #fff, 171px 968px #fff,
        1426px 799px #fff, 1298px 1932px #fff, 45px 828px #fff,
        956px 1191px #fff, 849px 1505px #fff, 1473px 490px #fff,
        1165px 773px #fff, 731px 447px #fff, 1945px 1755px #fff,
        1351px 1716px #fff, 1944px 336px #fff, 1404px 1722px #fff,
        1837px 1679px #fff, 986px 571px #fff, 1110px 881px #fff,
        438px 1645px #fff, 1387px 567px #fff, 277px 1578px #fff,
        1683px 423px #fff, 192px 1199px #fff, 1758px 443px #fff,
        1994px 96px #fff, 1668px 1054px #fff, 1286px 857px #fff,
        1944px 1048px #fff, 328px 1254px #fff, 1099px 627px #fff,
        1017px 1785px #fff, 450px 191px #fff, 1739px 198px #fff,
        1619px 1078px #fff, 6px 1389px #fff, 249px 1015px #fff,
        1831px 1701px #fff, 1017px 263px #fff, 1711px 29px #fff,
        817px 998px #fff, 451px 1779px #fff, 1964px 516px #fff,
        1143px 172px #fff, 599px 1408px #fff, 685px 1397px #fff,
        1687px 1231px #fff, 375px 798px #fff, 992px 848px #fff,
        1402px 1757px #fff, 746px 1069px #fff, 1230px 495px #fff,
        1526px 609px #fff, 1159px 1822px #fff, 1392px 234px #fff,
        141px 1312px #fff, 1510px 1592px #fff, 1760px 1897px #fff,
        272px 1373px #fff, 112px 697px #fff, 443px 536px #fff, 203px 1575px #fff,
        1226px 416px #fff, 346px 932px #fff, 1419px 1080px #fff,
        1642px 964px #fff, 1970px 701px #fff, 1951px 655px #fff,
        1248px 262px #fff, 1519px 1601px #fff, 647px 1599px #fff,
        481px 1933px #fff, 476px 1843px #fff, 1020px 1254px #fff,
        1529px 1729px #fff, 1988px 1140px #fff, 1118px 443px #fff,
        1568px 860px #fff, 34px 1760px #fff, 412px 1676px #fff,
        870px 1804px #fff, 1760px 675px #fff, 13px 257px #fff, 167px 1966px #fff,
        1537px 193px #fff, 847px 393px #fff, 963px 137px #fff, 906px 113px #fff,
        1760px 244px #fff, 643px 1395px #fff, 1728px 442px #fff, 810px 34px #fff,
        1388px 1216px #fff, 1201px 268px #fff, 1277px 1576px #fff,
        638px 1345px #fff, 1153px 278px #fff, 1717px 1889px #fff,
        736px 1942px #fff, 1000px 859px #fff, 94px 1003px #fff,
        1695px 897px #fff, 856px 1128px #fff, 525px 1082px #fff,
        420px 877px #fff, 220px 578px #fff, 821px 431px #fff, 696px 1248px #fff,
        1683px 1762px #fff, 976px 1988px #fff, 892px 571px #fff, 64px 334px #fff,
        1081px 1374px #fff, 1513px 1392px #fff, 972px 769px #fff,
        425px 747px #fff, 456px 537px #fff, 858px 557px #fff, 767px 334px #fff,
        396px 1168px #fff, 401px 1577px #fff, 1688px 1027px #fff,
        1489px 1886px #fff, 1889px 1199px #fff, 524px 1092px #fff,
        716px 462px #fff, 51px 763px #fff, 613px 57px #fff, 598px 329px #fff,
        1660px 289px #fff, 1522px 1683px #fff, 351px 258px #fff,
        132px 477px #fff, 768px 836px #fff, 126px 1744px #fff, 951px 650px #fff,
        1739px 180px #fff, 1482px 313px #fff, 1587px 314px #fff,
        192px 287px #fff, 1764px 160px #fff, 1116px 1746px #fff,
        619px 1438px #fff, 124px 681px #fff, 1325px 1149px #fff,
        1728px 65px #fff, 724px 150px #fff, 665px 830px #fff, 1091px 728px #fff,
        1308px 1919px #fff, 1733px 1267px #fff, 1251px 1567px #fff,
        847px 573px #fff, 1460px 1461px #fff, 419px 893px #fff, 4px 1099px #fff,
        653px 1158px #fff, 1704px 1922px #fff, 1849px 1443px #fff,
        639px 1032px #fff, 703px 860px #fff, 1375px 1939px #fff,
        1336px 1695px #fff, 1512px 1792px #fff, 1260px 853px #fff,
        53px 1773px #fff, 96px 1866px #fff, 288px 138px #fff, 789px 55px #fff,
        1612px 1355px #fff, 1566px 1691px #fff, 1226px 1915px #fff,
        1044px 1454px #fff, 269px 1417px #fff, 913px 56px #fff,
        1283px 1983px #fff, 85px 1603px #fff, 1861px 976px #fff,
        703px 222px #fff, 1330px 1761px #fff, 1427px 730px #fff,
        495px 542px #fff, 1866px 1392px #fff, 398px 8px #fff, 1417px 1364px #fff,
        161px 1043px #fff, 603px 85px #fff, 542px 143px #fff, 1122px 82px #fff,
        1379px 1556px #fff, 1684px 427px #fff, 1185px 1278px #fff,
        1648px 404px #fff, 1007px 1453px #fff, 1658px 298px #fff,
        1986px 1888px #fff, 972px 1791px #fff;
    animation: animStar 100s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1064px 384px #fff, 770px 77px #fff, 1704px 1989px #fff,
        1660px 1786px #fff, 984px 1744px #fff, 866px 94px #fff, 171px 968px #fff,
        1426px 799px #fff, 1298px 1932px #fff, 45px 828px #fff,
        956px 1191px #fff, 849px 1505px #fff, 1473px 490px #fff,
        1165px 773px #fff, 731px 447px #fff, 1945px 1755px #fff,
        1351px 1716px #fff, 1944px 336px #fff, 1404px 1722px #fff,
        1837px 1679px #fff, 986px 571px #fff, 1110px 881px #fff,
        438px 1645px #fff, 1387px 567px #fff, 277px 1578px #fff,
        1683px 423px #fff, 192px 1199px #fff, 1758px 443px #fff,
        1994px 96px #fff, 1668px 1054px #fff, 1286px 857px #fff,
        1944px 1048px #fff, 328px 1254px #fff, 1099px 627px #fff,
        1017px 1785px #fff, 450px 191px #fff, 1739px 198px #fff,
        1619px 1078px #fff, 6px 1389px #fff, 249px 1015px #fff,
        1831px 1701px #fff, 1017px 263px #fff, 1711px 29px #fff,
        817px 998px #fff, 451px 1779px #fff, 1964px 516px #fff,
        1143px 172px #fff, 599px 1408px #fff, 685px 1397px #fff,
        1687px 1231px #fff, 375px 798px #fff, 992px 848px #fff,
        1402px 1757px #fff, 746px 1069px #fff, 1230px 495px #fff,
        1526px 609px #fff, 1159px 1822px #fff, 1392px 234px #fff,
        141px 1312px #fff, 1510px 1592px #fff, 1760px 1897px #fff,
        272px 1373px #fff, 112px 697px #fff, 443px 536px #fff, 203px 1575px #fff,
        1226px 416px #fff, 346px 932px #fff, 1419px 1080px #fff,
        1642px 964px #fff, 1970px 701px #fff, 1951px 655px #fff,
        1248px 262px #fff, 1519px 1601px #fff, 647px 1599px #fff,
        481px 1933px #fff, 476px 1843px #fff, 1020px 1254px #fff,
        1529px 1729px #fff, 1988px 1140px #fff, 1118px 443px #fff,
        1568px 860px #fff, 34px 1760px #fff, 412px 1676px #fff,
        870px 1804px #fff, 1760px 675px #fff, 13px 257px #fff, 167px 1966px #fff,
        1537px 193px #fff, 847px 393px #fff, 963px 137px #fff, 906px 113px #fff,
        1760px 244px #fff, 643px 1395px #fff, 1728px 442px #fff, 810px 34px #fff,
        1388px 1216px #fff, 1201px 268px #fff, 1277px 1576px #fff,
        638px 1345px #fff, 1153px 278px #fff, 1717px 1889px #fff,
        736px 1942px #fff, 1000px 859px #fff, 94px 1003px #fff,
        1695px 897px #fff, 856px 1128px #fff, 525px 1082px #fff,
        420px 877px #fff, 220px 578px #fff, 821px 431px #fff, 696px 1248px #fff,
        1683px 1762px #fff, 976px 1988px #fff, 892px 571px #fff, 64px 334px #fff,
        1081px 1374px #fff, 1513px 1392px #fff, 972px 769px #fff,
        425px 747px #fff, 456px 537px #fff, 858px 557px #fff, 767px 334px #fff,
        396px 1168px #fff, 401px 1577px #fff, 1688px 1027px #fff,
        1489px 1886px #fff, 1889px 1199px #fff, 524px 1092px #fff,
        716px 462px #fff, 51px 763px #fff, 613px 57px #fff, 598px 329px #fff,
        1660px 289px #fff, 1522px 1683px #fff, 351px 258px #fff,
        132px 477px #fff, 768px 836px #fff, 126px 1744px #fff, 951px 650px #fff,
        1739px 180px #fff, 1482px 313px #fff, 1587px 314px #fff,
        192px 287px #fff, 1764px 160px #fff, 1116px 1746px #fff,
        619px 1438px #fff, 124px 681px #fff, 1325px 1149px #fff,
        1728px 65px #fff, 724px 150px #fff, 665px 830px #fff, 1091px 728px #fff,
        1308px 1919px #fff, 1733px 1267px #fff, 1251px 1567px #fff,
        847px 573px #fff, 1460px 1461px #fff, 419px 893px #fff, 4px 1099px #fff,
        653px 1158px #fff, 1704px 1922px #fff, 1849px 1443px #fff,
        639px 1032px #fff, 703px 860px #fff, 1375px 1939px #fff,
        1336px 1695px #fff, 1512px 1792px #fff, 1260px 853px #fff,
        53px 1773px #fff, 96px 1866px #fff, 288px 138px #fff, 789px 55px #fff,
        1612px 1355px #fff, 1566px 1691px #fff, 1226px 1915px #fff,
        1044px 1454px #fff, 269px 1417px #fff, 913px 56px #fff,
        1283px 1983px #fff, 85px 1603px #fff, 1861px 976px #fff,
        703px 222px #fff, 1330px 1761px #fff, 1427px 730px #fff,
        495px 542px #fff, 1866px 1392px #fff, 398px 8px #fff, 1417px 1364px #fff,
        161px 1043px #fff, 603px 85px #fff, 542px 143px #fff, 1122px 82px #fff,
        1379px 1556px #fff, 1684px 427px #fff, 1185px 1278px #fff,
        1648px 404px #fff, 1007px 1453px #fff, 1658px 298px #fff,
        1986px 1888px #fff, 972px 1791px #fff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1621px 1364px #fff, 247px 1508px #fff, 1933px 1164px #fff,
        476px 547px #fff, 1144px 5px #fff, 1362px 459px #fff, 587px 1039px #fff,
        1184px 1128px #fff, 363px 1141px #fff, 482px 591px #fff,
        1718px 1090px #fff, 402px 1135px #fff, 531px 170px #fff,
        1596px 938px #fff, 1812px 139px #fff, 1456px 115px #fff,
        1019px 1455px #fff, 682px 1584px #fff, 1653px 814px #fff,
        573px 776px #fff, 573px 1374px #fff, 944px 539px #fff,
        1148px 1880px #fff, 905px 1px #fff, 683px 194px #fff, 819px 1408px #fff,
        793px 1897px #fff, 620px 878px #fff, 879px 926px #fff, 646px 61px #fff,
        1509px 1421px #fff, 1224px 1748px #fff, 1738px 79px #fff,
        630px 1647px #fff, 1868px 861px #fff, 1339px 1911px #fff,
        329px 930px #fff, 1698px 391px #fff, 62px 664px #fff, 1126px 190px #fff,
        769px 946px #fff, 521px 222px #fff, 364px 1235px #fff, 706px 1701px #fff,
        284px 1984px #fff, 1189px 1526px #fff, 1233px 1328px #fff,
        1983px 1727px #fff, 1330px 1680px #fff, 1484px 1824px #fff,
        1994px 1883px #fff, 1097px 1507px #fff, 1456px 1859px #fff,
        332px 634px #fff, 1939px 1723px #fff, 1350px 1176px #fff,
        1899px 128px #fff, 234px 683px #fff, 1760px 121px #fff,
        1309px 1283px #fff, 233px 1036px #fff, 1127px 1903px #fff,
        766px 145px #fff, 1463px 49px #fff, 1560px 664px #fff, 1119px 195px #fff,
        506px 695px #fff, 151px 939px #fff, 609px 1980px #fff, 1631px 443px #fff,
        551px 1119px #fff, 1515px 121px #fff, 140px 1581px #fff,
        1546px 1350px #fff, 1176px 1127px #fff, 197px 1475px #fff,
        228px 1150px #fff, 1945px 680px #fff, 561px 1708px #fff,
        1279px 157px #fff, 42px 1879px #fff, 1620px 1359px #fff,
        1793px 725px #fff, 1039px 1045px #fff, 99px 1989px #fff,
        1989px 448px #fff, 192px 1225px #fff, 536px 805px #fff,
        537px 1559px #fff, 1332px 1633px #fff, 1838px 1615px #fff,
        1896px 691px #fff, 513px 1857px #fff, 1294px 1924px #fff,
        202px 472px #fff, 1683px 1747px #fff, 1843px 359px #fff,
        251px 1855px #fff, 1303px 388px #fff, 1167px 1787px #fff;
    animation: animStar 150s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1621px 1364px #fff, 247px 1508px #fff, 1933px 1164px #fff,
        476px 547px #fff, 1144px 5px #fff, 1362px 459px #fff, 587px 1039px #fff,
        1184px 1128px #fff, 363px 1141px #fff, 482px 591px #fff,
        1718px 1090px #fff, 402px 1135px #fff, 531px 170px #fff,
        1596px 938px #fff, 1812px 139px #fff, 1456px 115px #fff,
        1019px 1455px #fff, 682px 1584px #fff, 1653px 814px #fff,
        573px 776px #fff, 573px 1374px #fff, 944px 539px #fff,
        1148px 1880px #fff, 905px 1px #fff, 683px 194px #fff, 819px 1408px #fff,
        793px 1897px #fff, 620px 878px #fff, 879px 926px #fff, 646px 61px #fff,
        1509px 1421px #fff, 1224px 1748px #fff, 1738px 79px #fff,
        630px 1647px #fff, 1868px 861px #fff, 1339px 1911px #fff,
        329px 930px #fff, 1698px 391px #fff, 62px 664px #fff, 1126px 190px #fff,
        769px 946px #fff, 521px 222px #fff, 364px 1235px #fff, 706px 1701px #fff,
        284px 1984px #fff, 1189px 1526px #fff, 1233px 1328px #fff,
        1983px 1727px #fff, 1330px 1680px #fff, 1484px 1824px #fff,
        1994px 1883px #fff, 1097px 1507px #fff, 1456px 1859px #fff,
        332px 634px #fff, 1939px 1723px #fff, 1350px 1176px #fff,
        1899px 128px #fff, 234px 683px #fff, 1760px 121px #fff,
        1309px 1283px #fff, 233px 1036px #fff, 1127px 1903px #fff,
        766px 145px #fff, 1463px 49px #fff, 1560px 664px #fff, 1119px 195px #fff,
        506px 695px #fff, 151px 939px #fff, 609px 1980px #fff, 1631px 443px #fff,
        551px 1119px #fff, 1515px 121px #fff, 140px 1581px #fff,
        1546px 1350px #fff, 1176px 1127px #fff, 197px 1475px #fff,
        228px 1150px #fff, 1945px 680px #fff, 561px 1708px #fff,
        1279px 157px #fff, 42px 1879px #fff, 1620px 1359px #fff,
        1793px 725px #fff, 1039px 1045px #fff, 99px 1989px #fff,
        1989px 448px #fff, 192px 1225px #fff, 536px 805px #fff,
        537px 1559px #fff, 1332px 1633px #fff, 1838px 1615px #fff,
        1896px 691px #fff, 513px 1857px #fff, 1294px 1924px #fff,
        202px 472px #fff, 1683px 1747px #fff, 1843px 359px #fff,
        251px 1855px #fff, 1303px 388px #fff, 1167px 1787px #fff;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}
